.el-page-header {
    display: flex;
    line-height: 24px;
    padding: 10px;
    background: #dfdfdf;
}
.el-card__body{
    padding: 10px;
}
.el-button--success{
    color: #fff !important;
    background-color: #02a145 !important;
    border-color: #02a145 !important;
    padding: 10px;
    cursor: pointer;
}